@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--cyan);
}

@media (max-width: 599px) {
  #app {
    padding: 1rem;
  }
}

a {
  color: var(--cyan);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* height */
::-webkit-scrollbar {
  height: 12px;
}

/* track */
::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

/* handle */
::-webkit-scrollbar-thumb {
  background: var(--medium-gray);
  border-radius: 10px;
  border: 3px solid var(--dark-gray);
  border-left: 0px;
}

/* MARKDOWN */

.markdown p {
  padding: 8px 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  padding-top: 15px;
}

.markdown {
  max-width: 800px;
  margin: 0 auto 60px auto;
}

.markdown li {
  padding-left: 4px;
}

.markdown li::marker {
  color: var(--cyan);
}

.markdown ul,
.markdown ol {
  margin: 10px 0;
}

.markdown pre {
  background: var(--dark-gray);
  border-radius: 7px;
  padding: 10px 15px;
  margin: 5px 0;
}

.markdown code {
  background: var(--dark-gray);
  border-radius: 5px;
  padding: 2px 5px;
  color: #ffcfca;
  font-size: 13px;
}

.markdown pre code {
  padding: 0;
  display: block;
  overflow-x: auto;
}

.markdown blockquote {
  padding: 5px 5px 5px 15px;
  border-left: 3px solid var(--cyan);
  margin: 5px 0;
}

.markdown strong {
  font-weight: bold;
}

.markdown del {
  text-decoration: underline;
  text-decoration-color: var(--cyan);
  text-underline-offset: 2px;
}

.markdown hr {
  unicode-bidi: unset;
  border: 1px solid var(--medium-gray);
  margin: 5px 0;
}

.markdown table {
  border-collapse: collapse;
  margin: 15px 0;
}
.markdown th {
  text-align: start;
  background: var(--dark-gray);
}
.markdown th,
.markdown td {
  padding: 5px 10px;
}
.markdown td {
  border: 1px solid var(--dark-gray);
}
